.Button {
  background-color: transparent;
  border-radius: 3px;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 5px;
  font-weight: bold;

  &:hover {
    background-color: #e8e8e8;
  }

  &.Success {
    border: 1px solid #d1e6b3;
    color: #5C9210;
  }

  &.Danger {
    border: 1px solid #e2a8a8;
    color: #944317;
  }

  &.LinkButton {
    border: none !important;
    font-weight: normal !important;
  }

  &.btn-sm {
    font-size: 15px;
  }
}
